@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
    --primary-color: rgb(105, 103, 103);
    --secondary-color: #3fcc9d;
    --text-dark: black;
    --text-light: white;
    --primary-font: Arial, Helvetica, sans-serif;
    --secondary-font: 'Roboto', sans-serif;
}

body {
    font-family: var(--primary-font);
    margin: 0;
    padding: 0;
    background-color: var(--text-light);
}

header {
    background-color: var(--primary-color);
    color: var(--text-light);
    padding: 10px 0;
    text-align: center;
}

header img {
    width: 50px;
    vertical-align: middle;
}

header h1 {
    display: inline;
    margin-left: 10px;
    vertical-align: middle;
    font-family: var(--secondary-font);
    font-size: 2.5em;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.search-form input {
    width: 70%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid var(--text-dark);
    border-radius: 5px 0 0 5px;
}

.search-form button {
    padding: 10px;
    border: none;
    background-color: var(--secondary-color);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-form button img {
    width: 20px;
    height: 20px;
}

#recipes {
    padding: 0 20px;
}

.recipe {
    background-color: white;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recipe img {
    width: 100%;
    border-radius: 5px;
}

.recipe, .name {
    font-family: var(--secondary-font);
    font-size: 1.5em;
    margin: 10px 0;
}

.recipe .tags {
    margin: 10px 0;
}

.recipe .tags span {
    background-color: var(--secondary-color);
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    margin-right: 5px;
}

.rating {
    display: flex;
    align-items: center;
}

.rating .icon-star .rating .icon-star-empty {
    color: gold;
    font-size: 1.2em;
}

.tag {
    background-color: var(--secondary-color);
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    margin-right: 5px;
}

footer {
    background-color: var(--primary-color);
    color: var(--text-light);
    padding: 10px;
    text-align: center;
    font-size: 0.6em;
}

footer .social a img {
    width: 25px;
    margin: 0 10px;
}

img {
    max-width: 100%;
}

@media (min-width: 600px) {
    .search-form {
        flex-direction: row;
    }

    .search-form input {
        width: auto;
        flex: 1;
    }

    .recipe {
        display: flex;
        flex-direction: row;
    }

    .recipe img {
        width: 50%;
        margin-right: 20px;
    }

    .recipe .recipe-content {
        flex: 1;
    }
}

@media (min-width: 960px) {
    body {
        max-width: 960px;
        margin: 0 auto;
    }

    header,
    footer {
        padding: 20px 0;
    }

    .recipe {
        flex-direction: row;
    }

    .recipe img {
        width: 40%;
    }

    .recipe .recipe-content {
        flex: 1;
    }
}