body {
    margin: 0;
    font-family: 'Times New Roman';
    line-height: normal;
    background-color: #f4f4f4;
    color: #333;
}

/*.dark {
    margin: 0;
    font-family: 'Times New Roman';
    line-height: normal;
    background-color: #0e0d0d;
}*/

.content {
    max-width: 600px;
    margin: 20px auto;
    padding: 100px;
    height: 600px;
    background: white;
    
}

header {
    text-align: center;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    border-top: groove;
    border-style: groove;
    border-bottom: #333;
}

.title {
    color: #006EB6;
    font-size: 16px;
    padding: auto;
    border-bottom: groove;
}

.main-p {
    margin-top: 0.01px;
    margin-bottom: 0.01px;
    padding-left: 20px;
    border-style: groove;
    border-top: #333;
    border-bottom: #333;
}

.curve {
    margin-top: 0.01px;
    margin-bottom: 0.01px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-style: groove;
    border-top: #333;
    border-bottom: #333;   
}

.p1 {
    line-height: 1.5;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: groove;
    border-top: #333;
    border-bottom: #333;
}

.p2 {
    line-height: 1.5;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: groove;
    border-top: #333;
    border-bottom: #333;
}

.p3 {
    line-height: 1.5;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: groove;
    border-top: #333;
    border-bottom: #333;
}

.p4 {
    line-height: 1.5;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: groove;
    border-top: #333;
    border-bottom: #333;
}

footer {
    text-align: center;
    border-style: groove;
    border-top: #333;
}

.logo {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 100%;
    height: auto; 
    width: 150px;   
}
