*{
    margin:0%;
}
body {
    margin: 0;
    font-family: 'Times New Roman';
    line-height: normal;
    background-color: var(--bg-color);
    color: var(--text-color);
}

:root {
    --bg-color: #ffffff;
    --text-color: #333;
    --accent-color: #006EB6;
  }
  
.dark {
    --bg-color: #121212;
    --text-color: #eee;
    --accent-color: #006EB6;
  }
  
body.dark {
    --base-color: #121212;
    --bg-color: #121212;
    --text-color: #eee;
    --accent-color: #006EB6;
  }

.content {
    max-width: 600px;
    margin: 20px auto;
    padding: 100px;
    height: 600px;
    background-color: var(--bg-color);
}

header {
    text-align: center;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 16px 0 0 0;
    text-transform: uppercase;
    border-top: groove;
    border-style: groove;
    border-bottom: #333;
}

h1 {
    margin-top: 24px;
}
.title {
    color: var(--accent-color);
    font-size: 16px;
    padding: auto;
    border-bottom: groove;
}

.main-p {
    margin-top: 0.01px;
    margin-bottom: 0.01px;
    padding-left: 20px;
    border-style: groove;
    border-top: #333;
    border-bottom: #333;
}

.curve {
    margin-top: 0.01px;
    margin-bottom: 0.01px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-style: groove;
    border-top: #333;
    border-bottom: #333;
}

ol {
    border-style: groove;
    border-top: #333;
    border-bottom: #333;
}
.p1, .p2, .p3, .p4 {
    line-height: 1.5;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer {
    text-align: center;
    border-style: groove;
    border-top: #333;
}

.logo {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 100%;
    height: auto; 
    width: 150px;   
}
